.header{
    @apply fixed top-0 left-0 w-full z-30 flex justify-center my-10;
}

.header__content{
    @apply w-full border-2 border-purple-300 border-opacity-50 flex items-center rounded-md relative bg-tertiary bg-opacity-40 backdrop-blur-md;
}

.header__wrapper{
    @apply max-w-limit w-[90%] flex gap-2;
}

:global(.light_mode) .header__content{
    @apply bg-gradient-to-r from-purple-900 via-purple-700 to-purple-500;
}

.header__nav{
    transition: 0.5s ease all;
    @apply flex justify-between items-center w-full;
}

@media(max-width: 1024px){
    .header {
        @apply bg-tertiary bg-opacity-40 backdrop-blur-md border-b-2 border-purple-300 border-opacity-50 my-0;
    }
    .header__content{
        @apply border-none justify-between py-2 rounded-none;
    }
    .header__wrapper{
        @apply w-full;
    }
    .header__nav{
        @apply !absolute h-full top-0 left-0 min-h-svh flex-col justify-start bg-tertiary w-full pt-24 opacity-0 pointer-events-none;
    }
    .header__navActive{
        @apply opacity-100 pointer-events-auto;
    }
}

/* Logo */

.headerLogo{
    @apply relative w-full max-w-32 flex items-center justify-center z-10;
}

.headerLogo img{
    @apply absolute w-full block;
}

.headerLogoText{
    @apply text-white font-bold text-3xl mt-2 ml-[5%] z-10 relative;
}

.headerLogoText span{
    @apply text-purple-300 text-opacity-50;
}

@media(max-width: 1024px){
    .headerLogo{
        @apply max-w-16;
    }
}


/* Header list */

.headerList{
    @apply flex w-full justify-center;
}

@media(max-width: 1024px){
    .headerList{
        @apply flex-col justify-start items-start pl-[5%];
    }    
}

/* Header list item */

.HeaderListItem{
    @apply text-white flex justify-center uppercase font-medium text-base relative w-full leading-none py-5;
}

.HeaderListItem a{
    @apply relative flex items-center justify-center w-fit;
}

.HeaderListItem a::before,
.HeaderListItem a::after{
    content: "";
    transition: .5s ease width;
    @apply absolute w-0 h-1 z-10 right-0 -bottom-2;
}

.HeaderListItem a::before{
    @apply bg-primary;
}

.HeaderListItem a::after{
    transition-delay: 0.1s;
    @apply bg-secondary;
}

.HeaderListItem p{
    @apply opacity-100 odd:z-20;
}

.HeaderListItem a:hover::before,
.HeaderListItem a:hover::after,
.HeaderListItemActive a::before{
    @apply w-full left-0;
}

.HeaderListItemActive a::before{
    @apply z-0;
}

.HeaderListItemActive{
    @apply pointer-events-none;
}

@media(max-width: 1024px){
    .HeaderListItem{
        @apply text-[35px] justify-start;
    }    
    .HeaderListItem{
        @apply !text-2xl normal-case py-2;
    }    
}

@media(max-width: 768px){

    .HeaderListItem::before,
    .HeaderListItem::after{
        @apply h-[3.5px] z-10 right-0 bottom-[7.5px];
    }
}

/* Header hamburger */
.headerHamburger {
    transition: .25s ease all;
    @apply bg-secondary flex justify-center flex-col items-center min-w-10 max-w-12 w-[2.5vw] min-h-10 max-h-12 h-[2.5vw] rounded-full z-10;
}

.headerHamburger span{
    @apply h-0.5 w-full max-w-6 bg-purple-300 bg-opacity-50 mb-1.5 last:mb-0;
}

.headerHamburgerActive {
    @apply rotate-[180deg] bg-white;
}

.headerHamburgerActive span:nth-child(2){
    @apply opacity-0;
}

.headerHamburgerActive span{
    @apply bg-tertiary;
}

.headerHamburgerActive span:first-child{
    transition: .5s ease transform;
    @apply rotate-45 mb-0 absolute;
}

.headerHamburgerActive span:last-child{
    transition: .5s ease transform;
    @apply rotate-[-45deg] mb-0 absolute;
}

.header--light .headerHamburger{
    @apply bg-white;
}

.header--light .headerHamburger span{
    @apply bg-tertiary;
}

/* MENU OPEN */

.headerMenuOpen .HeaderListItem p{
    @apply opacity-0 animate-textReveal odd:z-20;
}

/* Header lang */

.header__lang{
    @apply border-2 border-purple-300 border-opacity-50 bg-tertiary bg-opacity-40 backdrop-blur-md rounded-md flex items-center h-auto;
}

.header__lang__mobile{
    @apply flex items-center mr-[5%] gap-3;
}