.cardWrapper{
    @apply border-2 border-purple-300 w-full p-5 rounded-md border-opacity-50 bg-tertiary bg-opacity-10 backdrop-blur-sm;
}

.cardWrapper__title{
    @apply flex justify-between;
}

.cardWrapper__title h2{
    @apply text-white text-lg font-medium uppercase;
}