.comunity__cta{
    @apply flex flex-col gap-5 mb-5 justify-center items-center;
}

.comunity__title{
    @apply !text-center;
}

.comunity__item{
    @apply flex justify-between items-center px-5;
}

.comunity__item p{
    @apply text-white text-lg first:text-opacity-70 flex items-center gap-2;
}

.comunity__item p span{
    @apply w-3 h-3 bg-green-600 rounded-full;
}

/* Tests */

.comunity__tests__flex{
    @apply flex justify-between gap-5 flex-wrap pt-6 pb-3;
}