.loaderSecondary{
    @apply w-full flex justify-center items-center flex-col min-h-[500px];
}

.loaderSecondaryContent { 
    @apply w-24 h-24 relative;
}

.loaderSecondaryText{
    @apply mt-8 text-white uppercase text-xl lg:text-2xl;
}

.loaderSeconaryInner{
    @apply block w-5 h-5 rounded-[20px] absolute;
}

.loaderSeconaryInner::before{
    content:"";
    animation: loadingSecondary infinite normal 2s;
    @apply w-5 h-5 rounded-[20px] absolute right-0;
}

.loaderSecondarySmall {
    transform: scale(0.7);
    @apply min-h-max;
}
.loaderSecondarySmall .loaderSecondaryText{
    @apply !text-xl;
} 

.loaderInner1{
    @apply top-0 left-0 rotate-[70deg];
}

.loaderInner1::before{
    @apply bg-primary;
}

.loaderInner2{
    @apply top-0 right-0 rotate-[160deg];
}

.loaderInner2:before{
    @apply bg-seventh;
}

.loaderInner3{
    @apply bottom-0 right-0 rotate-[-110deg];
}

.loaderInner3:before{
    @apply bg-primary;
}

.loaderInner4{
    @apply bottom-0 left-0 rotate-[-20deg]
}

.loaderInner4:before{
    @apply bg-seventh;
}

@keyframes loadingSecondary {
    0% {
        width: 20px;
        right: 0;
    }
    
    30% {
        width: 120px;
        right: -100px;
    }

    60% {
        width: 20px;
        right: -100px;
    }
}