.loader{
    z-index: 100;
    @apply fixed left-0 top-0 flex items-center justify-center w-full h-[100svh];  
}

.loader__bg{
    @apply fixed top-0 left-0 w-full h-[200vh] bg-tertiary;
}

.loader__bg__secondary{
    transition: .5s ease all;
    @apply bg-cuartary rounded-full scale-0 h-[150vh] w-[150vh] left-[unset] top-[unset];
}

.loader p {
    @apply font-minecraft opacity-0 translate-x-[100px] animate-textReveal;
    text-shadow: 1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000, 4px 4px 0 #000, 5px 5px 0 #000;
}

.loader__content{
    @apply relative flex items-center justify-center;
}

.loader__text{
    @apply text-white flex font-bold text-[10vw] md:text-[4.5vw];
}

.loader.animateLoader .blot{
    transform: rotate(1deg);
    animation: text-hidde-primary 0.75s ease 1 forwards !important;
}

.loader.animateLoader .craft{
    transform: rotate(1deg);
    animation: text-hidde-secondary 0.75s ease 1 forwards !important;
}

.loader.animateLoader .loader__bg__secondary{
    @apply scale-150;
}

.loader.animateLoader{
    @apply opacity-0 transition-all delay-[0.5s] pointer-events-none;
    transition-duration: 0.75s;
}

@keyframes text-hidde-primary{
    from {
        opacity: 1;
        transform: rotate(0);
    }
    10%{
        transform: rotate(-10deg);
    }
    50%{
        opacity: 1;
        transform: rotate(-20deg);
    }
    to{
        transform: rotate(-20deg) translateX(100px) translateY(30px);
    }
}

@keyframes text-hidde-secondary{
    from {
        opacity: 1;
        transform: rotate(0);
    }
    10%{
        transform: rotate(10deg);
    }
    50%{
        opacity: 1;
        transform: rotate(20deg);
    }
    to{
        transform: rotate(20deg) translateX(-100px) translateY(30px);
    }
}