@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: var(--font-roboto);
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width:10px;
}

body::-webkit-scrollbar-button:increment,&::-webkit-scrollbar-button {
    display: none;
} 

body::-webkit-scrollbar-track {
    border-radius: 10px; 
}  

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    @apply bg-tertiary border-tertiary;
}

@keyframes text-reveal {
    from{
        opacity: .5;
        transform: translateX(100px);
    }
    50%{
        opacity: 1;
        transform: translateX(-20px);
    }
    to{
        opacity: 1;
        transform: translateX(0) rotate(0deg);
    }
}

@keyframes text-hidde-primary{
    from {
        opacity: 1;
        transform: rotate(0);
    }
    10%{
        transform: rotate(-10deg);
    }
    50%{
        opacity: 1;
        transform: rotate(-20deg);
    }
    to{
        transform: rotate(-20deg) translateX(100px) translateY(30px);
    }
}

@keyframes text-hidde-secondary{
    from {
        opacity: 1;
        transform: rotate(0);
    }
    10%{
        transform: rotate(10deg);
    }
    50%{
        opacity: 1;
        transform: rotate(20deg);
    }
    to{
        transform: rotate(20deg) translateX(-100px) translateY(30px);
    }
}