.hero{
    @apply w-full flex flex-col pointer-events-none py-0 gap-[1.5vh];
}

@media(max-width: 768px){
    .hero{
        @apply pb-10 gap-10 items-start justify-start pt-0 min-h-[auto];
    }
}

/* Iframe */
.heroVideo {
    @apply w-full h-[70vh] bg-red-50 overflow-hidden relative rounded-[20px] flex justify-center items-center;
}

.heroVideo__iframe{
    @apply min-w-[120vw] min-h-[100vh];
}

.heroVideo__bg{
    @apply content-[""] bg-tertiary bg-opacity-50 absolute w-full h-full top-0 left-0 pointer-events-auto;
}

.heroVideo__content{
    @apply absolute flex justify-center items-center gap-10 pointer-events-auto;
}

@media(max-width: 768px){
    .heroVideo{
        @apply h-[450px];
    }
    .heroVideo__iframe{
        @apply min-w-[800px];
    }
}


/* Controls */

.heroVideo__content p{
    @apply relative overflow-hidden flex leading-none;
}

.heroVideo__content span{
    @apply relative;
}

.heroVideo__content span em{
    @apply not-italic;

}
.heroVideo__content span em:first-child{
    animation: playTextNegative 5s ease infinite;
    @apply relative top-0;
}

.heroVideo__content span em:last-child{
    animation: playText 5s ease infinite;
    @apply absolute left-0 top-28;
}

.heroVideo__content button{
    @apply w-[10vw] min-w-36 max-w-44 h-[5vw] min-h-24 max-h-32 bg-gradient-to-r from-purple-900 via-purple-700 to-purple-500 flex justify-center items-center rounded-[200px];
}

.heroVideo__content button img{
    @apply w-full max-w-7;
}

.heroVideo__content p{
    @apply font-medium text-purple-300 text-opacity-50 text-2xl lg:text-8xl;
}

@media(max-width: 768px){
    .heroVideo__content{
        @apply gap-[4vw]
    }
    .heroVideo__content button{
        @apply min-w-32 max-w-32 min-h-14 max-h-14 rounded-[100px];
    }
    .heroVideo__content button img{
        @apply max-w-4;
    }
}

/* Scroll */

.heroVideo__scroll{
    @apply flex justify-between items-center w-full text-[2.5vh] uppercase relative overflow-hidden text-purple-300 text-opacity-50 font-medium;
}

.heroVideo__stars span{
    @apply w-[2.5vh] h-[2.5vh] relative flex items-center justify-center;
}

.heroVideo__stars span::before,
.heroVideo__stars span::after{
    @apply content-[''] absolute bg-purple-300 bg-opacity-50;
}
.heroVideo__stars span::before {
    @apply w-full h-0.5;
}
.heroVideo__stars span::after {
    @apply h-full w-0.5;
}

@media(max-width: 768px){
    .heroVideo__scroll{
        @apply text-lg;
    }
    .heroVideo__stars span{
        @apply w-5 h-5;
    }
    
}

@keyframes playText {
    0% {
        top: 110px;
    }
    10% {
        top: 0;
    }
    100% {
        top: 0;
    }
  }
  
  @keyframes playTextNegative {
    0% {
        top: 0;
    }
    10% {
        top: -110px;
    }
    100% {
        top: -110px;
    }
  }