.button{
    @apply w-fit px-5 min-h-[45px] max-h-[50px] min-w-[150px] flex justify-center items-center gap-[15px] relative overflow-hidden; 
}

.button__icon{
    @apply max-w-[17px] block w-full;
}

.button span{
    transition: .3s ease left;
    @apply font-aeonik uppercase relative left-0;
}

.button__icon {
    filter: brightness(0) invert(1);
    transition: .3s ease left;
    @apply absolute left-[-20px];
}

.button__iconSecondary{
    transition: .3s ease all;
    @apply w-[22.5px] relative right-0;
}

.button b{
    transition: .3s ease transform;
    @apply flex items-center justify-center min-w-[5px] h-[10px] relative overflow-hidden;
}

.button b::before{
    content: "";
    @apply w-[5px] h-[5px] rounded-full bg-white;
}

.button:hover span{
    @apply  left-[20px];
}

.button:hover b{
    @apply  scale-0;
}

button:hover .button__iconSecondary{
    @apply right-[-15px];
}

.button:hover .button__icon{
    @apply absolute left-[15px];
}

@media(max-width: 768px){
    .button__iconSecondary{
        @apply w-[20px];
    }
}

/* Primary */
.button--primary{
    transition: .5s ease background-color;
    @apply bg-tertiary rounded-full;
}

.button--primary:hover{
    @apply bg-secondary;
}

.button--primary span{
    @apply text-white;
}

/* secondary */
.button--secondary{
    transition: .5s ease background-color;
    @apply bg-gradient-to-r from-purple-900 via-purple-700 to-purple-500 rounded-md;
}

.button--secondary:hover{
    @apply bg-secondary;
}

.button--secondary span{
    @apply text-white;
}

/* White */

.button--white{
    @apply bg-white;
}

.button--white span{
    @apply text-tertiary;
}


.button--white b::before{
    @apply bg-tertiary;
}

.button--white:hover span{
    @apply text-white;
}

/* Fit */

.button--fit{
    transition: .5s ease background-color;
    @apply bg-gradient-to-r from-purple-900 via-purple-700 to-purple-500 rounded-md !w-fit !max-w-fit px-4 min-w-[auto] gap-1;
}

.button--fit .button__icon{
    @apply hidden;
}

.button--fit span{
    @apply text-white;
}

.button--fit .button__iconSecondary{
    @apply min-w-4;
}


.button--fit:hover .button__iconSecondary{
    @apply right-0;
}

/* loader button */

.button__iconLoader{
    animation: loader infinite linear 1s;
    @apply w-7 max-w-7 min-w-7;
}

.button__loader{
    @apply !opacity-40 pointer-events-none;
}

/* small */

.button__small{
    @apply min-h-9 max-h-9 min-w-32 text-sm;
}

@keyframes loader {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}